{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<header>
			<div class="row text-center">
				<div class="col-lg-12">
					<h2>Réinitialisation du mot de passe</h2>
				</div>
			</div>
		</header>

		<section class="spaceAround" id="forgotPassword">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					{{ form_start(form) }}
						{{ form_errors(form) }}
						{{ form_row(form.new_password) }}
						{{ form_row(form.new_confirm_password) }}
						<div class="row mt-4">
							<div class="col-lg-12 text-center">
								<button type="submit" class="btn btn-warning btn-lg">Confirmer</button>
							</div>
						</div>
					{{ form_end(form)}}
				</div>
			</div>		
		</section>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}