{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Nos contrats{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/contracts.css') }}">
{% endblock %}

{% block body %}
	<header class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2>Nos contrats</h2>
			</div>
		</div>
	</header>

	<section class="container-fluid spaceAround" id="contractsList">
		{% for key, contract in contracts %}
			<div class="row justify-content-center mb-4 contractSummary">
				<div class="col-lg-6 col-md-12 text-justify align-self-center summary {% if key is odd %} order-last {% endif %}">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<h3>Contrat {{ contract.name }}</h3>
							<p>{{ contract.summary }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 text-center mb-2">
							<a class="btn btn-lg roundedButton" href="{{ path('contract.show', {id: contract.id}) }}">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 text-center mb-2 contractThumbnail">
					{% if contract.imageName %}
						<img src="{{ vich_uploader_asset(post, 'image_file') | imagine_filter('medium') }}" alt="Image contrat {{ contract.name }}" class="imageRadius">
					{% else %}
						<img src="{{ asset('images/vegetables_basket.jpg' | imagine_filter('medium')) }}" alt="Panier de légumes" class="imageRadius">
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</section>

{% endblock %}

{% block javascripts %}
{% endblock %}