{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-Vert - Article{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/post.css') }}">
{% endblock %}

{% block body %}
	<header class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2>{{ post.title }}</h2>
				<span class="categoryBadge">{{ post.category.name }}</span>
			</div>
		</div>
	</header>

	<section class="container spaceAround">
		<div class="row justify-content-center text-center mt-4">
			<div class="col-lg-10">
				{% if post.imageName %}
					<img src="{{ vich_uploader_asset(post, 'image_file') | imagine_filter('large') }}" alt="Image article {{ post.Title }}" id="postImage" class="imageRadius">
				{% else %}
					<img src="{{ asset('images/panneau_amap.jpg' | imagine_filter('large')) }}" alt="Panneau AMAP" id="postImage" class="imageRadius">
				{% endif %}
			</div>
		</div>
		<div class="row mt-4">
			<div class="col aling-self-center">
				<p>Publié le {{ post.createdAt|date("d/m/Y")}} {% if post.updatedAt is not null %} - Mis à jour le: {{ post.updatedAt|date("d/m/Y")}}{% endif %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>{{ post.content|raw }}</p>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
{% endblock %}