{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Notre blog{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/posts.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<header>
			<div class="row text-center">
				<div class="col-lg-12">
					<h2>Notre blog</h2>
				</div>
			</div>
		</header>

		{{ include('front/posts/post_filter.html.twig') }}

		<section id="postsSection">
			<div class="row">
				{% for post in posts %}
					{{ include('front/posts/posts_thumbnail.html.twig') }}
				{% endfor %}
			</div>
			<div class="row justify-content-center mt-4 mb-4" id="pagination">
				{{ knp_pagination_render(posts) }}
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/postFilter.js') }}"></script>
{% endblock %}