{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
	<header class="container-fluid">
		<div class="row text-center" id="fullSizeHeader">
			<div class="col-lg-12" id="headerContent">
				<h1>AMAP Pré-vert</h1>
				<p>image</p>
			</div>
		</div>
	</header>

	<section class="container-fluid" id="contracts">
		<h2>Les contrats</h2>
		<div class="row justify-content-center text-center" id="contractsName">
			{% for contract in contracts %}
				<div class="col-lg-2 col-md-4 mb-2">
					<button class="btn">Contrat {{ contract.name }}</button>
				</div>
			{% endfor %}
		</div>
		{% for key, contract in contracts %}
			<div class="row justify-content-center mt-5 contractSummary" id="{{ key }}">
				<div class="col-lg-6 col-md-12 text-justify align-self-center summary">
					<h3>Contrat {{ contract.name }}</h3>
					<p>{{ contract.summary }}</p>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a class="btn btn-primary" href="{{ path('contract.show', {id: contract.id}) }}">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 text-center mb-2 contractThumbnail">
					{% if contract.imageName %}
						<img src="{{ asset('images/contracts/'~ contract.imageName ~'') }}" alt="Image contrat {{ contract.name }}">
					{% else %}
						<img src="{{ asset('images/vegetables_basket.jpg') }}" alt="Panier de légumes">
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</section>

	<section id="simulatorBanner">
		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="col-lg-6">
					<h3>Découvrez notre simulateur !</h3>
					<p>Vous ne savez pas quels contrats vous conviendrez le mieux?</p>
				</div>
				<div class="col-lg-6 align-self-center text-center">
					<a href="{{ path('simulator') }}" class="btn btn-primary">Réaliser une simulation</a>
				</div>
			</div>
		</div>
	</section>

	<section class="container" id="lastPosts">
		<h2>Les dernières actualités</h2>
		<div class="row justify-content-center">
			{% for post in lastPosts %}
				{{ include('front/posts_thumbnail.html.twig') }}
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/homePage/Contracts.js') }}"></script>
{% endblock %}