<div class="col-lg-4 col-md-6 text-center mb-2">
	<div class="card">
		{% if post.imageName %}
			<a href="{{ path('post.show', {id: post.id}) }}">
				<img class="card-img-top" src="{{ vich_uploader_asset(post, 'image_file') | imagine_filter('thumb') }}" alt="Image article {{ post.Title }}">
			</a>
		{% else %}
			<a href="{{ path('post.show', {id: post.id}) }}">
				<img class="card-img-top" src="{{ asset('images/vegetables_basket.jpg' | imagine_filter('thumb')) }}" alt="Panier de légumes">
			</a>
		{% endif %}
		<div class="card-body">
			<h5 class="card-title">{{ post.title }}</h5>
			<p class="card-text">Publié le {{ post.createdAt|date("d/m/Y") }}</p>
		</div>
		<div class="card-footer text-center">
			<a href="{{ path('post.show', {id: post.id}) }}" class="btn btn-primary">Lire la suite</a>
		</div>
	</div>
</div>