{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Gestion du compte{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin_home.css') }}">
{% endblock %}

{% block nav %}
	{% include 'back/admin_nav.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<header>
			<div class="row text-center">
				<div class="col-lg-12">
					<h2>Gestion du compte</h2>
				</div>
			</div>
		</header>

		<section id="accountUpdate">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					{{ form_start(formResetPassword) }}
						{{ form_errors(formResetPassword) }}
						<fieldset>
							<legend>Changer le mot de passe</legend>
							{{ form_row(formResetPassword.old_password) }}
							{{ form_row(formResetPassword.new_password) }}
							{{ form_row(formResetPassword.new_confirm_password) }}
						</fieldset>
						
						<div class="row mt-4">
							<div class="col-lg-12 text-center">
								<button type="submit" class="btn btn-warning">Modifier</button>
							</div>
						</div>
					{{ form_end(formResetPassword)}}
				</div>
			</div>		
		</section>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}