{{ form_start(form) }}
	<fieldset>
		<legend>Détails du contrat</legend>
		{{ form_row(form.name) }}
		<div class="row">
			<div class="col-lg-6">{{ form_row(form.starting_season_at) }}</div>
			<div class="col-lg-6">{{ form_row(form.ending_season_at) }}</div>
		</div>
		{{ form_row(form.summary) }}
		{{ form_row(form.description) }}
	</fieldset>
	
	<fieldset>
		<legend>Informations sur le producteur</legend>
		{{ form_row(form.grower_name) }}
		<div class="row">
			<div class="col-lg-6">{{ form_row(form.grower_gps_lat) }}</div>
			<div class="col-lg-6">{{ form_row(form.grower_gps_lng) }}</div>
		</div>
	</fieldset>

	<div class="row">
		<div class="col-lg-12">
			<h3>Liste des produits</h3>
			{{ form_errors(form.products) }}
			{{ form_widget(form.products) }}
			<a href="#" id="add-product">
				<span class="fas fa-plus">Ajouter un produit</span>
			</a>
		</div>
	</div>

	<!--<ul id="products" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}" data-index="{{ form.products|length }}">
		{% for product in form.products %}
			<li>{{ form_row(product.name) }}</li>
			<li>{{ form_row(product.is_fixed_delivery) }}</li>
			<li>{{ form_row(product.nb_delivery) }}</li>
			<li>{{ form_row(product.is_fixed_price) }}</li>
			<li>{{ form_row(product.fixed_price) }}</li>
			<li>{{ form_row(product.min_price) }}</li>
			<li>{{ form_row(product.max_price) }}</li>
		{% endfor %}
		<a href="#" id="add-product">
			<span class="fas fa-times">Ajouter un produit</span>
		</a>

	</ul>-->

	<fieldset>
		<legend>Image du contrat</legend>
		<div class="row">
			<div class="col-lg-6">{{ form_row(form.image.title) }}</div>
			<div class="col-lg-6">{{ form_row(form.image.extension) }}</div>
		</div>
	</fieldset>
	
	<div class="row mt-4">
		<div class="col-lg-12 text-center">
			<button type="submit" class="btn btn-primary">{{ button }}</button>
		</div>
	</div>
	
{{ form_end(form )}}