{% extends 'base.html.twig' %}

{% block title %}AMAP Pré-vert - Gestion des types d'alimentation{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin_contracts.css') }}">
{% endblock %}

{% block nav %}
	{% include 'back/admin_nav.html.twig' %}
{% endblock %}

{% block body %}
	<header class="container">
		<div class="row text-center">
			<div class="col-lg-12">
				<h2>Gestion des types d'alimentation</h2>
			</div>
		</div>
	</header>

	<section class="container mt-4 mb-4" id="foodTypesCrud">
		<div class="row mb-2">
			<div class="col text-right">
				<a href="{{ path('admin.contracts') }}" class="btn btn-outline-secondary btn-sm">Retour à la gestion des contrats</a>
			</div>
		</div>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Nom du type d'alimentation</th>
					<th>Gestion du type d'alimentation</th>
				</tr>
			</thead>
			<tbody>
				{% for foodType in foodTypes %}
					<tr>
						<td>{{ foodType.name }}</td>
						<td>
							<a href="{{ path('admin.foodtype.update', {id: foodType.id}) }}" class="btn btn-warning">Modifier</a>
							<form method="POST" action="{{ path('admin.foodtype.delete', {id: foodType.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer ce type d\'alimentation?')">
								<input type="hidden" name="_method" value="delete">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ foodType.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="text-left">
			<a href="{{ path('admin.foodtype.create') }}" class="btn btn-primary">Ajouter un nouveau types d'alimentation</a>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
{% endblock %}